@import '@styles/shared.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    @extend %input;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.save-button {
  @extend %button;
  width: 200px;
  height: 50px;
  font-size: 16px;
  @include themify($themes) {
    color: themed('primary-light-white');
    background-color: themed('light-green');
  }
  border-radius: 6px;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    @include themify($themes) {
      background-color: themed('dark-accent');
    }
  }
}

.cancel-button {
  @extend %button;
  width: 200px;
  height: 50px;
  font-size: 16px;
  @include themify($themes) {
    color: themed('tertiary-black');
    background-color: themed('secondary-grey');
  }
  border: 1px solid transparent;
  border-radius: 6px;
  transition: background-color 250ms $timing-function,
    border-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: transparent;
    @include themify($themes) {
      border-color: themed('tertiary-black');
    }
  }
}

.error-message {
  @extend %error;
  font-size: 12px;
}
