@import '@styles/shared.scss';

.search-form {
  display: flex;
  justify-content: center;

  &__field {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    background-color: transparent;
    border-radius: 15px;
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__input {
    @extend %input;
    padding-right: 124px;
  }

  &__button {
    @extend %button;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.84rem 2rem;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('secondary-dark-accent');
      border: 2px solid themed('secondary-dark-accent');
    }
    border-radius: 10px;
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function,
      border-color 250ms $timing-function;

    &:hover:not(:disabled) {
      @include themify($themes) {
        background-color: themed('light-green');
        border-color: themed('light-green');
      }
    }

    &:disabled {
      @include themify($themes) {
        color: themed('primary-grey');
        border-color: themed('secondary-grey');
      }
      cursor: default;
    }
  }
}
