@import '../../styles/shared.scss';

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin: 0 auto;

  &__section {
    padding: 24px 0;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
  }

  &__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    max-width: 744px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__notification {
    text-align: center;
  }
}

.clear-button {
  @extend %button;
  min-width: 150px;
  min-height: 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  @include themify($themes) {
    color: themed('tertiary-black');

    background-color: themed('secondary-grey');
  }

  border: 1px solid transparent;
  border-radius: 6px;

  transition: background-color 250ms $timing-function,
    border-color 250ms $timing-function;

  &:hover:not(:disabled) {
    background-color: transparent;

    @include themify($themes) {
      border-color: themed('tertiary-black');
    }
  }

  &:disabled {
    @include themify($themes) {
      color: themed('secondary-grey');

      border-color: themed('secondary-grey');
    }
    background-color: transparent;

    cursor: default;
  }
}
