@import '@styles/shared.scss';

.todo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: 100%;
  border-radius: 16px;
  @include themify($themes) {
    background-color: themed('secondary-light-white');
    border: 1px solid themed('primary-grey');
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked + .todo__checkbox > .todo__icon {
      opacity: 1;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    @include themify($themes) {
      border: 1px solid themed('secondary-black');
    }
    cursor: pointer;
  }

  &__icon {
    @include themify($themes) {
      stroke: themed('light-green');
    }
    opacity: 0;
    transition: opacity 250ms $timing-function;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__text {
    font-size: 1rem;
    word-break: break-word;
    @media screen and (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__crossed-text {
    text-decoration: line-through;
    word-break: break-word;
    @include themify($themes) {
      color: themed('secondary-black');
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .date__descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;

    @media screen and (min-width: 425px) {
      flex-direction: row;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.delete-button,
.edit-button {
  @extend %button;
  width: 44px;
  height: 44px;
  @include themify($themes) {
    color: themed('dark-accent');
    border: 2px solid themed('light-green');
  }
  background-color: transparent;
  border-radius: 4px;
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('light-green');
    }
  }

  &:disabled {
    @include themify($themes) {
      color: themed('primary-grey');
      border-color: themed('secondary-grey');
    }
    cursor: default;
  }
}
