$themes: (
  light: (
    primary-black: #010101,
    secondary-black: rgba(0, 0, 0, 0.3),
    tertiary-black: #23262a,
    dark-accent: #22252a,
    secondary-dark-accent: #2a2c36,
    primary-grey: rgb(200, 200, 200),
    secondary-grey: #d9d9d9,
    light-green: #8baa36,
    secondary-light-green: #ebf3d4,
    red: #f54029,
    primary-light-white: #fafafa,
    secondary-light-white: #f5f5f5,
    dark-white: #fefefe,
    secondary-dark-white: #efefef,
  ),
  dark: (
    primary-black: #fafafa,
    secondary-black: rgb(200, 200, 200),
    tertiary-black: #8baa36,
    dark-accent: #8baa36,
    secondary-dark-accent: #2a2c36,
    primary-grey: rgb(200, 200, 200),
    secondary-grey: #d9d9d9,
    light-green: #8baa36,
    secondary-light-green: #2a2c36,
    red: #f54029,
    primary-light-white: #fafafa,
    secondary-light-white: #2a2c36,
    dark-white: #fefefe,
    secondary-dark-white: #8baa36,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
