@import '../../styles/shared.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 500px;
    padding: 44px 50px;
    @include themify($themes) {
      background-color: themed('secondary-dark-accent');
    }
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.02em;
    @include themify($themes) {
      color: themed('primary-light-white');
    }
  }

  &__error {
    position: absolute;
    top: 92px;
    left: 50px;
    font-size: 16px;
    @include themify($themes) {
      color: themed('primary-red');
    }
    opacity: 0.8;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__field {
    position: relative;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 48px;
    transform: translateY(-50%);
    padding: 4px;
    font-size: 16px;
    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('secondary-dark-accent');
    }
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    width: 100%;
    padding: 16px 18px 18px 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    @include themify($themes) {
      color: themed('primary-light-white');
    }
    background-color: transparent;
    border: 1px solid #fafafa;
    outline: none;
    border-radius: 6px;
    transition: border-color 250ms $timing-function;

    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      @include themify($themes) {
        color: themed('primary-light-white');
      }
    }

    &:focus ~ .login__label,
    &:not(:placeholder-shown) ~ .login__label {
      transform: translateY(-46px) scale(0.8);
    }

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:not(:placeholder-shown) {
      @include themify($themes) {
        border-color: themed('light-green');
      }
    }
    &:not(:focus) {
      border-color: #fafafa;
    }
  }

  &__input-error {
    bottom: -2px;
    @extend %error;
    font-size: 14px;
    opacity: 0.8;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    @include themify($themes) {
      color: themed('primary-light-white');
    }
    background-color: transparent;
    &_password {
      @extend %button;
    }
  }

  &__button {
    @extend %button;
    width: 100%;
    height: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('light-green');
      border: 2px solid themed('light-green');
    }
    border-radius: 6px;
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function;

    &:hover {
      @include themify($themes) {
        color: themed('light-green');
        background-color: themed('primary-light-white');
      }
    }
    &:disabled {
      @include themify($themes) {
        background-color: themed('primary-light-white');
      }
      cursor: default;
    }
  }

  &__question {
    display: flex;
    gap: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    @include themify($themes) {
      color: themed('primary-light-white');
    }
  }

  &__link {
    @include themify($themes) {
      color: themed('light-green');
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
