@import '@styles/shared.scss';

.page {
  padding: 40px 0;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.page-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  @include themify($themes) {
    color: themed('tertiary-black');
  }
  border-radius: 5px;
  cursor: pointer;
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
  &:hover:not(.page-list__item--ellipsis) {
    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('light-green');
    }
  }
  &_active {
    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('light-green');
    }
  }
  &_ellipsis {
    cursor: auto;
  }
}

.arrow-button {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 5px;
  @include themify($themes) {
    color: themed('dark-accent');
  }
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;

  &__icon {
    width: 16px;
    height: 16px;
  }
  &:disabled {
    @include themify($themes) {
      color: themed('secondary-grey');
    }
    cursor: auto;
  }
  &:hover:not(:disabled) {
    @include themify($themes) {
      color: themed('primary-light-white');
      background-color: themed('light-green');
    }
  }

  &:disabled .arrow-button__icon {
    @include themify($themes) {
      stroke: themed('primary-grey');
    }
  }

  &__right {
    transform: rotateZ(-180deg);
  }
}
